.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.flex {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.right-flex {
  width: 70%;
  align-self: flex-start;
}

.menu {
  background: lightgrey;
  padding: 10px;
}
